@page "/components"

<PageTitle>Telerik Blazor App | Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<div class="d-flex flex-column gap-2">
    <TelerikCard>
        <CardHeader>
            <CardTitle>Button</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="d-flex gap-2 mb-2">
                <TelerikButton>Default theme</TelerikButton>
                <TelerikButton Enabled="false">Default theme disabled</TelerikButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Primary theme color</TelerikButton>
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" Enabled="false">Primary theme color disabled</TelerikButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">Secondary theme color</TelerikButton>
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary" Enabled="false">Secondary theme color disabled</TelerikButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary">Tertiary theme color</TelerikButton>
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary" Enabled="false">Tertiary theme color disabled</TelerikButton>
            </div>
        </CardBody>
    </TelerikCard>

    <TelerikCard>
        <CardHeader>
            <CardTitle>Chip button</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="d-flex gap-2 mb-2">
                <TelerikChip>Default theme</TelerikChip>
                <TelerikChip Disabled="true">Default theme disabled</TelerikChip>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikChip ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Primary theme color</TelerikChip>
                <TelerikChip ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" Disabled="true">Primary theme color disabled</TelerikChip>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikChip ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">Secondary theme color</TelerikChip>
                <TelerikChip ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary" Disabled="true">Secondary theme color disabled</TelerikChip>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikChip ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary">Tertiary theme color</TelerikChip>
                <TelerikChip ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary" Disabled="true">Tertiary theme color disabled</TelerikChip>
            </div>
        </CardBody>
    </TelerikCard>
    
    <TelerikCard>
        <CardHeader>
            <CardTitle>Split button</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="d-flex gap-2 mb-2">
                <TelerikSplitButton>Default theme</TelerikSplitButton>
                <TelerikSplitButton Enabled="false">Default theme disabled</TelerikSplitButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikSplitButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Primary theme color</TelerikSplitButton>
                <TelerikSplitButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" Enabled="false">Primary theme color disabled</TelerikSplitButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikSplitButton ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">Secondary theme color</TelerikSplitButton>
                <TelerikSplitButton ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary" Enabled="false">Secondary theme color disabled</TelerikSplitButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikSplitButton ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary">Tertiary theme color</TelerikSplitButton>
                <TelerikSplitButton ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary" Enabled="false">Tertiary theme color disabled</TelerikSplitButton>
            </div>
        </CardBody>
    </TelerikCard>

    <TelerikCard>
        <CardHeader>
            <CardTitle>Dropdown Button</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="d-flex gap-2 mb-2">
                <TelerikDropDownButton Icon="@SvgIcon.Share">
                    <DropDownButtonContent>Primary theme color</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>

                <TelerikDropDownButton Icon="@SvgIcon.Share" Enabled="false">
                    <DropDownButtonContent>Primary theme color</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikDropDownButton Icon="@SvgIcon.Share" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">
                    <DropDownButtonContent>Secondary theme color</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>

                <TelerikDropDownButton Icon="@SvgIcon.Share" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" Enabled="false">
                    <DropDownButtonContent>Secondary theme color</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikDropDownButton Icon="@SvgIcon.Share" ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">
                    <DropDownButtonContent>Tertiary theme color</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>

                <TelerikDropDownButton Icon="@SvgIcon.Share" ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary" Enabled="false">
                    <DropDownButtonContent>Tertiary theme color</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikDropDownButton Icon="@SvgIcon.Share" ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary">
                    <DropDownButtonContent>Share</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>

                <TelerikDropDownButton Icon="@SvgIcon.Share" ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary" Enabled="false">
                    <DropDownButtonContent>Share</DropDownButtonContent>

                    <DropDownButtonItems>
                        <DropDownButtonItem Icon="@SvgIcon.Facebook">Facebook</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Twitter">Twitter</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Linkedin">Linkedin</DropDownButtonItem>
                        <DropDownButtonItem Icon="@SvgIcon.Reddit">Reddit</DropDownButtonItem>
                    </DropDownButtonItems>
                </TelerikDropDownButton>
            </div>
        </CardBody>
    </TelerikCard>

    <TelerikCard>
        <CardHeader>
            <CardTitle>Inputs</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="d-flex gap-2 mb-2">
                <TelerikTextBox Value="TelerikTextBox" Width="12rem" />
                <TelerikTextBox Value="TelerikTextBox" Width="12rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikNumericTextBox T="decimal" Value="1.234567M" Width="12rem" />
                <TelerikNumericTextBox T="decimal" Value="1.234567M" Width="12rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikMaskedTextBox Value="TelerikMaskedTextBox" Width="12rem" />
                <TelerikMaskedTextBox Value="TelerikMaskedTextBox" Width="12rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikTextArea Value="TelerikTextArea" Width="12rem" />
                <TelerikTextArea Value="TelerikTextArea" Width="12rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikSwitch Value="true" />
                <TelerikSwitch Value="true" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikSwitch Value="false" />
                <TelerikSwitch Value="false" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikCheckBox Value="true" />
                <TelerikCheckBox Value="true" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikCheckBox Value="false" />
                <TelerikCheckBox Value="false" Enabled="false" />
            </div>
        </CardBody>
    </TelerikCard>

    <TelerikCard>
        <CardHeader>
            <CardTitle>Date inputs</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="d-flex gap-2 mb-2">
                <TelerikDatePicker Value="DateTime.Now" Width="20rem" />
                <TelerikDatePicker Value="DateTime.Now" Width="20rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikTimePicker Value="DateTime.Now" Width="20rem" />
                <TelerikTimePicker Value="DateTime.Now" Width="20rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikDateTimePicker Value="DateTime.Now" Width="20rem" />
                <TelerikDateTimePicker Value="DateTime.Now" Width="20rem" Enabled="false" />
            </div>
        </CardBody>
    </TelerikCard>

    <TelerikCard>
        <CardHeader>
            <CardTitle>Dropdowns</CardTitle>
        </CardHeader>
        <CardBody>
            <div class="d-flex gap-2 mb-2">
                <TelerikDropDownList TItem="string" TValue="string" Data="@(new List<string> { "TelerikDropDownList 1", "TelerikDropDownList 2", "TelerikDropDownList 3" })" Width="20rem" />
                <TelerikDropDownList TItem="string" TValue="string" Data="@(new List<string> { "TelerikDropDownList 1", "TelerikDropDownList 2", "TelerikDropDownList 3" })" Width="20rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikComboBox TItem="string" TValue="string" Data="@(new List<string> { "TelerikComboBox 1", "TelerikComboBox 2", "TelerikComboBox 3" })" Width="20rem" />
                <TelerikComboBox TItem="string" TValue="string" Data="@(new List<string> { "TelerikComboBox 1", "TelerikComboBox 2", "TelerikComboBox 3" })" Width="20rem" Enabled="false" />
            </div>
            <div class="d-flex gap-2 mb-2">
                <TelerikMultiSelect TItem="string" TValue="string" Data="@(new List<string> { "TelerikMultiSelect 1", "TelerikMultiSelect 2", "TelerikMultiSelect 3" })" Width="30rem" />
                <TelerikMultiSelect TItem="string" TValue="string" Data="@(new List<string> { "TelerikMultiSelect 1", "TelerikMultiSelect 2", "TelerikMultiSelect 3" })" Width="30rem" Enabled="false" />
            </div>
        </CardBody>
    </TelerikCard>

    <TelerikCard>
        <CardHeader>
            <CardTitle>Tab control. Tabs should be horizontal.</CardTitle>
        </CardHeader>
        <CardBody>
            <TelerikTabStrip>
                <TabStripTab Title="AI Basics">
                    <Content>
                        <h3>What is Artificial Intelligence?</h3>
                        <p>AI is the simulation of human intelligence by machines programmed to think and learn like humans[3].</p>
                    </Content>
                </TabStripTab>

                <TabStripTab Title="Disabled" Disabled="true">
                    <Content>
                        <h3>What is Artificial Intelligence?</h3>
                        <p>AI is the simulation of human intelligence by machines programmed to think and learn like humans[3].</p>
                    </Content>
                </TabStripTab>

                <TabStripTab Title="AI Debates">
                    <Content>
                        <h3>Key AI Debates</h3>
                        <p>Current debates include AI sentience, algorithmic bias, and the impact of AI on employment[4].</p>
                    </Content>
                </TabStripTab>

                <TabStripTab Title="AI Assistants">
                    <Content>
                        <h3>Virtual Assistants</h3>
                        <p>AI-powered assistants are becoming increasingly sophisticated in handling everyday tasks and providing support[4].</p>
                    </Content>
                </TabStripTab>

                <TabStripTab Title="AI Ethics">
                    <Content>
                        <h3>Ethical Considerations</h3>
                        <p>Key concerns include privacy, transparency, and the moral implications of AI decision-making[4].</p>
                    </Content>
                </TabStripTab>

                <TabStripTab Title="AI Future">
                    <Content>
                        <h3>Future of AI</h3>
                        <p>AI development focuses on solving global challenges like climate change and healthcare improvements[4].</p>
                    </Content>
                </TabStripTab>
            </TelerikTabStrip>
        </CardBody>
    </TelerikCard>

    <TelerikCard>
        <CardHeader>
            <CardTitle>Important links</CardTitle>
        </CardHeader>
        <CardBody>
            <ul>
                <li><a href="https://docs.telerik.com/themebuilder/plugin/exporting-components" target="_blank">Exporting Components - Telerik ThemeBuilder</a></li>
                <li><a href="https://themebuilderapp.telerik.com/projects/6698cf956955cd20e0925e12" target="_blank">Telerik ThemeBuilder Project</a></li>
            </ul>
        </CardBody>
    </TelerikCard>
</div>